[user]
	name = bag1s3k
	email = jetam.mravenec@gmail.com
	signingkey = /home/bag1s3k/.ssh/id_ed25519.pub
[submodule]
	recurse = true
[push]
	recurseSubmodules = on-demand
[core]
	preloadindex = true
	autocrlf = input
    editor = vim
[url "git@github.com:bag1s3k/"]
	insteadOf = "bg:"
[url "git@github.com:"]
	insteadOf = "gh:"
[init]
	defaultBranch = main
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
[diff]
	context = 3
	renames = copies
[alias]
  s = status
  a = add
  c = commit
  p = push
  u = pull
  l = log --oneline --graph --all
  d = diff --output-indicator-new=' ' --output-indicator-old=' '
  b = branch
  ch = checkout
  m = merge
[commit]
	gpgsign = true
[gpg]
	format = ssh
