@define-color text      #e3e3e3;
@define-color bg        #111111;
@define-color border    #282828;

@define-color subtext0  #696969;
@define-color overlay0  #828282;
@define-color surface1  #333333;
@define-color surface0  #363636;

@define-color red       #d91111;

/* ============================================ */
/* GLOBAL STYLES                                */
/* ============================================ */
* {
  all: unset;
  font-family: JetBrainsMono Nerd Font Propo, "Symbols Nerd Font", sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
}

/* ============================================ */
/* WORKSPACES                                   */
/* ============================================ */
#workspaces button {
  padding: 1px 10px;
  margin: 0 3px;
  background: transparent;
  border-radius: 8px;
  color: @text;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background: @text;
  color: @bg;
  font-weight: 700;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button:not(.empty):not(.hosting-monitor) {
  color: @subtext0;
}

#workspaces button.active:not(.hosting-monitor) {
  background: @surface1;
  color: @text;
}

#workspaces button.urgent {
  background: @red;
  color: @bg;
}

/* ============================================ */
/* MODULES BASE STYLING                         */
/* ============================================ */
#backlight,
#taskbar,
#tray,
#workspaces,
#clock,
#submap,
#battery,
#single-icons,
#cpu,
#volume {
  background-color: @bg;
  border-radius: 10px;
  border: solid 1px @border;
  padding: 5px 12px;
  margin: 0 5px;
  font-weight: 600;
  color: @text;
}

/* ============================================ */
/* MODULE SPECIFIC STYLING                      */
/* ============================================ */
#clock {
  padding: 5px 20px;
}

#bluetooth {
  margin: 0 10px;
}

#submap {
  background: @red;
  border-color: @red;
}

/* ============================================ */
/* PULSEAUDIO SLIDER                            */
/* ============================================ */
#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @surface0;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @text;
}

/* ============================================ */
/* TRAY & TOOLTIPS                              */
/* ============================================ */
#tray menu {
  background: @bg;
  border: 1px solid @border;
  border-radius: 8px;
  padding: 5px;
}

tooltip {
  background: @bg;
  border: 1px solid @border;
  border-radius: 8px;
}

tooltip label {
  color: @text;
}
